/* ==========================================================================
Global
========================================================================== */
.m-footer {
	background-color:$black;
	color:#878787;
	text-transform: uppercase;
	font-size:rem-calc(13);
	
	padding:rem-calc(50 0 80);


	// Links in footer module
	a {
		color:inherit;

		&:hover {
			color:$primary-color;
		}
	}

	@include breakpoint(medium) {
		padding:rem-calc(100 0 180);
	}
}

/* ==========================================================================
Social links in footer
========================================================================== */
.m-footer {
	.social-links {
		text-align: center;
		margin-bottom:rem-calc(60);

		.social-link {
			display:block;
			margin:rem-calc(10 0);
		}
	}

	@include breakpoint(medium) {
		.social-links {
			text-align: right;
			margin-bottom:rem-calc(0);

			.social-link {
				display:inline-block;
				margin:rem-calc(0 0 0 10);
			}
		}
	}
}

/* ==========================================================================
Copyright-info in footer
========================================================================== */
.m-footer {
	.copyright-info {
		text-align: center;
		
		> * {
			display: block;
			margin:rem-calc(10 0);
		}

		.sep {
			display:none;
		}
	}

	@include breakpoint(medium) {
		.copyright-info {
			text-align: left;
			
			> * {
				display: inline-block;
				margin:rem-calc(0 10 0 0);
			}

			.sep {
				display:inline-block;
			}
		}
	}
}
