.m-header {
	background-image: url(https://i3.wallpaperscraft.com/image/margot_robbie_actress_celebrity_sweater_103421_3840x2400.jpg);
	background-size: cover;
	background-position: center center;

	height:100vh;
}

// artist name
.m-header {
	.artist-name {

	}
}