$button-height:44;

.m-hamburger-menu-toggle {
    width:rem-calc($button-height);
    height:rem-calc($button-height);
    line-height:rem-calc($button-height);
    display:block;
    text-align: center;
    border-radius:50%;
    background-color: white;
    cursor:pointer;
    position: absolute;
    transition:box-shadow 0.3s;
    
    .hamburger-icon {
        @include hamburger($body-font-color, $body-font-color, 20px, 12px, 2px, 3);
        vertical-align:baseline;
    }

    &:hover {
        box-shadow: 0px 0px 10px 0 rgba(0,0,0,0.5);

        .hamburger-icon {
            @include hamburger($primary-color, $primary-color, 20px, 12px, 2px, 3);
            vertical-align:baseline;
        }
    }

    &.right {
        top:rem-calc(map-get($grid-column-gutter, small));
        right: rem-calc(map-get($grid-column-gutter, small));
        left: auto;
        @include breakpoint(medium) {
            top:rem-calc(map-get($grid-column-gutter, medium));
            right: rem-calc(map-get($grid-column-gutter, medium));
        }
    }

    &.left {
        top:rem-calc(map-get($grid-column-gutter, small));
        left: rem-calc(map-get($grid-column-gutter, small));
        right: auto;
        @include breakpoint(medium) {
            top:rem-calc(map-get($grid-column-gutter, medium));
            left: rem-calc(map-get($grid-column-gutter, medium));
        }
    }
}
