.section {
	padding:rem-calc(90 0);
	min-height: 50vh;

	display: flex;
	justify-content:center;
	align-items:center;
}


/* ==========================================================================
// Diagonal sections
========================================================================== */
.section-diagonal {
  	@include angle(before, true);
  	@include angle(after);
}

/* ==========================================================================
// Backgrounds colored sections
========================================================================== */
.section-bg-color {
	&-1 { background-color: #ffffff; }
	&-2 { background-color: #FFD600; }
	&-3 { background-color: white; }
	&-4 { background-color: white; }
}

/* ==========================================================================
// background image
========================================================================== */
.section-bg-img {
	background-image: url(http://i.imgur.com/K1SrLKT.png);
	background-size: cover;
	background-position: center center;
}